@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  @font-face {
    font-family: 'TenorSans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/TenorSans-Regular.woff2) format('woff2');
  }
}

body {
  font-family: 'TenorSans';
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  main{
    display:flex;
    flex-direction:row;
  }

  .round{
    display:flex;
    flex-direction:column;
    justify-content:center;
    width:400px;
    list-style:none;
    padding:0;
  }
    .round .spacer{ flex-grow:1; }
    .round .spacer:first-child,
    .round .spacer:last-child{ flex-grow:.5; }
  
    .round .game-spacer{
      flex-grow:1;
    }
  
  /*
   *  General Styles
  */
  
  li.game{
    padding-left: 20px;
  }
  
    li.game.winner{
      font-weight:bold;
    }
    li.game span{
      float:right;
      margin-right:5px;
    }
  
    li.game-top{ border-bottom:3px solid #7b1f96; }
  
    li.game-spacer{ 
      border-right:3px solid #7b1f96;
      min-height:40px;
    }

    li.game-spacer-final{ 
      min-height:40px;
    }
  
    li.game-bottom{ 
      border-top:3px solid #7b1f96;
    }
}